body {
  margin-left: 300px;
}
.div01 {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}
.password-container {
  display: flex;  
}
.password-length {
  height: 34px;
  width: 55px;
  font-size: 20px;
}
#password-length-errors {
  width: fit-content;
  margin-left: 10px;
  color: red;
  font-size: 20px;
  padding-top: 8px;
}
.div02 {
  margin-top: 10px;
}
.p01 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -10px;
  color: red;
}
#checkbox-message {
  height: 20px;
  color: red;
  font-size: 20px;
  margin-top: -15px;
}
.div03 {
  margin-top: 10px;
}
.generated-password {
  width: 500px;
  font-weight: bold;
  border-style: ridge;
}
.checkbox {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}
.check-property {
  width: 400px;
}
.generate-button {
  height: 32px;
  font-size: 20px;
  margin-top: 40px;
}