.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-form {
  margin-left: 600px;
  width: 500px;
}
.inside-items {
  margin-top: 10px;
}
label {
  font-size: 20px;
}
#new-todo {
  width: 330px;
  height: 24px;
}
button {
  font-size: 17px;
  height: 31px;
}
