body {
	font-family: Times, serif, Helvettica, sans-serif;
	background-color: rgb(255, 255, 255);
	min-width: 1175px;
	/*margin: 0px; To use the entire page layout.*/
  margin: 0px 100px 0px 100px;
}
p {font-size: 22px;}

button {
	font-size: 20px;
	font-weight: bold;
	height: 41px;
	width: 75px;
}
.text-box-div1 {
	background-color: aqua;
	height: 100px;
	border: 1px solid black;
}

#display-field {
	font-size: 20px;
	height: 40px;
	width: 500px;
	margin: 25px 0px 10px 50px;
	border: 1px solid black;
}

.display-field::placeholder {
	font-size: 18px;
}

#username {
	font-size: 20px;
	height: 36px;
	width: 300px;
	margin: 25px 0px 10px 50px;
	border: 1px solid black;
}
label {
	font-size: 24px;
}
#guess {
	font-size: 20px;
	height: 40px;
	width: 60px;
	margin: 25px 0px 10px 5px;
	border: 1px solid black;
}
.guess-button {
	height: 45px;
	width: 135px;
}


footer {	
	background-color: aqua;
	position: fixed;
	bottom: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 500px;
	padding-left: 100px;
	padding-right: 100px;
	border: 1px dashed black;
}


